<div>
    <mat-card>
        <div>
            <mat-card-title>
                <span class="f">F</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="oo">o</span>
            </mat-card-title>
        </div>
        <div>
            <mat-card-title class="subtitle">
                Reset Password
            </mat-card-title>
        </div>
        <div>
            <mat-card-subtitle class="subtitle">
                Enter your new password
            </mat-card-subtitle>
        </div>   
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"   [formControl]="password">
                <mat-error *ngIf="password.invalid && password.hasError('required')">
                    <mat-icon>error</mat-icon> Enter a Password!!
                </mat-error>
            </mat-form-field>
            <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)=resetPassword() >Next</button>
        </div>
    </mat-card>
</div>

