@import '../../scss/fundoo.scss';

.card{
    margin-top: 100px;
    margin-left: 200px;
}

.subtitle{
    color: black;
    font-weight: 400;
    font-size: 17px;
}
.account{
        width: 200px;
        height: 200px;
}

